.form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
        background: url("/Organick/images/form-bg.png") no-repeat;
    box-sizing: border-box;
    max-width: 1380px;
    min-height: 320px;
    border-radius: 20px;
    gap: 20px;
    padding: 0 80px 0 70px;
    margin: 30px auto 0 auto;
}

.form__title {
    text-transform: capitalize;
    color: white;
    max-width: 323px;
}

.form__container {
    display: flex;
    justify-content: flex-start;
    height: min-content;
    align-self: center;
    gap: 10px;
    max-width: 560px;
    width: 100%;
}

.form__input {
    box-sizing: border-box;
    color: var(--main);
    font-family: "Open Sans";
    font-size: 18px;
    border: 1px solid #CCC;
    border-radius: 16px;
    max-width: 350px;
    max-height: 82px;
    width: 100%;
    padding: 26px 0 27px 30px;
}

.form__button {
    min-width: 200px;
}

.footer__container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: flex-end;
    text-align: end;
    row-gap: 36px;
}

.footer__title {
    text-transform: capitalize;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.footer__subtitle {
    font-weight: 700;
}

.footer__text_single-word br {
    display: none;
}

.footer__media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    text-align: center;
    row-gap: 44px;
    border-right: 1px solid #D5D5D5;
    border-left: 1px solid #D5D5D5;
    max-width: 670px;
    width: 100%;
    margin: 0 20px;
}

.footer__logo {
    justify-content: center;
}

.footer__about {
    font-family: "Open Sans";
    font-size: 18px;
    max-width: calc(100% - calc(100vw / 2.15 / 12.8) * 3);
    min-width: 137px;
    margin: auto auto 6px;
}

.footer__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #EFF6F1;
    border-radius: 100%;
    padding: 20px;
}

.footer__pair {
    display: flex;
    gap: 20px;
}

.footer__pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-content: flex-start;
    text-align: start;
    row-gap: 24px;
    font-family: "Open Sans";
    text-transform: capitalize;
    color: var(--main);
}
