<section class="about">
    <div class="container about__container">
        <div class="bg about__bg"></div>
        <div class="about__content">
            <span class="cut about__cut">About us</span>
            <h3 class="about__title">We believe in organic foods for strong health</h3>
            <p class="about__text">
                Welcome to the world of natural and organic. Here you can discover the bounty of nature.
                We have grown on the principles of health, and care. We aim to give our customers a healthy
                chemical-free meal for perfect nutrition.
            </p>
            <div class="list">
                <div class="list__item">
                    <div class="list__visualise">
                        <img src="../images/organic.svg" alt="organic">
                    </div>
                    <div class="list__article">
                        <span class="list__title">Organic Food Only</span>
                        <p class="list__description">
                            The Product that you ordered will be verified that we have or not
                            if have we will start to move on with the next step.
                        </p>
                    </div>
                </div>
                <div class="list__item">
                    <div class="list__visualise">
                        <img src="../images/quality.svg" alt="quality">
                    </div>
                    <div class="list__article">
                        <span class="list__title">Organic Food Only</span>
                        <p class="list__description">
                            The Product that you ordered will be verified that we have or not
                            if have we will start to move on with the next step.
                        </p>
                    </div>
                </div>
            </div>
            <button class="button about__button">Shop Now</button>
        </div>
    </div>
</section>