<section class="advantages">
    <div class="bg advantages__bg"></div>
    <div class="container advantages__container">
        <div class="advantages__frame">
            <div class="advantages__content">
                <span class="cut advantages__cut">Eco friendly</span>
                <h3 class="advantages__title">From our farm to your home.</h3>
                <div class="advantages__point">
                    <span class="advantages__subtitle">Choose your products</span>
                    <p class="advantages__article">
                        In our listing, we have several collections of organic products.
                        This is the place where you need to choose the product you want.
                    </p>
                </div>
                <div class="advantages__point">
                    <span class="advantages__subtitle">Farmers will produce it</span>
                    <p class="advantages__article">
                        The Product that you ordered will be verified that we have or not
                        if have we will start to move on with the next step.
                    </p>
                </div>
                <div class="advantages__point">
                    <span class="advantages__subtitle">We can deliver too</span>
                    <p class="advantages__article">
                        If you are not comfortable going to the nearby marketplace we also
                        will deliver your product to your doorstep.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>