<section class="derivative">
    <div class="container derivative__container">
        <div class="derivative__item derivative__item_juice">
            <div class="derivative__name">
                Fruit juice
            </div>
        </div>
        <div class="derivative__item derivative__item_organic">
            <div class="derivative__name">
                Organic food
            </div>
        </div>
        <div class="derivative__item derivative__item_cookies">
            <div class="derivative__name">
                Nuts cookies
            </div>
        </div>
    </div>
</section>