<!-- absolute truth -->
<section class="feedback">
    <div class="bg feedback__bg feedback__bg_left"></div>
    <div class="bg feedback__bg feedback__bg_right"></div>
    <div class="container feedback__container">
        <div class="headline feedback__headline">
            <span class="cut feedback__cut">Testimonial</span>
            <h3 class="feedback__title">What our customers saying?</h3>
        </div>
        <div class="feedback__content">
            <img class="feedback__photo"
                 src="../images/photo.png" alt="photo">
            <img class="feedback__rating"
                 src="../images/rating.svg" alt="breath-taking amazing!">
            <p class="feedback__text">
                The quality of organic produce is extremely high, the service
                is second to none and the taste of the food takes me back to my
                childhood when we were growing our own.
            </p>
            <div class="feedback__credentials feedback-credentials">
                <span class="feedback-credentials__author">sara taylor</span>
                <span class="feedback-credentials__role">consumer</span>
            </div>
        </div>
        <div class="divider feedback__divider"></div>
        <div class="summary">
            <div class="summary__item">
                <span class="summary__count">100%</span>
                <span class="summary__name">Organic</span>
            </div>
            <div class="summary__item">
                <span class="summary__count">285</span>
                <span class="summary__name">Active Product</span>
            </div>
            <div class="summary__item">
                <span class="summary__count">385+</span>
                <span class="summary__name">Organic Orchards</span>
            </div>
            <div class="summary__item">
                <span class="summary__count">25+</span>
                <span class="summary__name">Years of Framing</span>
            </div>
        </div>
    </div>
</section>