<footer class="footer">
    <div class="container">
        <form class="form">
            <h2 class="form__title">Subscribe our newsletter</h2>
            <div class="form__container">
                <input class="form__input" type="email" placeholder="Enter your email">
                <button class="button form__button">Subscribe</button>
            </div>
        </form>
    </div>
    <div class="container footer__container">
        <div class="footer__contacts">
            <h5 class="footer__title">Contact us</h5>
            <div class="footer__item">
                <span class="footer__subtitle">Email</span>
                <span class="footer__text footer__text_single-word">needhelp@<br>organick.com</span>
            </div>
            <div class="footer__item">
                <span class="footer__subtitle">Phone</span>
                <span class="footer__text">123 (1254) 1452</span>
            </div>
            <div class="footer__item">
                <span class="footer__subtitle">Address</span>
                <span class="footer__text">88 Road, Brooklyn Street, USA</span>
            </div>
        </div>
        <div class="footer__media">
            <div class="footer__logo logo">
                <a href="#"><img src="../images/logo.svg" alt="logo"></a>
            </div>
            <p class="footer__about">
                We are a popular and farming company aspiring to be a
                leader in the Organic food industry.
            </p>
            <div class="footer__socials">
                <div class="footer__social">
                    <img src="../images/facebook.svg">
                </div>
                <div class="footer__social">
                    <img src="../images/twitter.svg">
                </div>
                <div class="footer__social">
                    <img src="../images/instagram.svg">
                </div>
                <div class="footer__social">
                    <img src="../images/pinterest.svg">
                </div>
            </div>
        </div>
        <div class="footer__pages">
            <h5 class="footer__title">Utility pages</h5>
            <div class="footer__item">Style guide</div>
            <div class="footer__item">Page not found</div>
            <div class="footer__item">Changelog</div>
            <div class="footer__item">Licenses</div>
        </div>
    </div>
</footer>