<header class="header">
    <div class="header__container container">
        <nav class="nav">
            <div class="nav__logo logo">
                <a href="#"><img src="../images/logo.svg" alt="logo"></a>
            </div>
            <div class="links">
                <a class="links__link links__link_active" href="#">Home</a>
                <a class="links__link" href="#">About Us</a>
                <a class="links__link" href="#">Shop</a>
                <a class="links__link" href="#">Pages</a>
                <a class="links__link links__link_farther" href="#">Contact Us</a>
            </div>
        </nav>
        <div class="cart-container">
            <div class="cart">
                <a class="cart__link" href="#">
                    <img class="cart__image" src="../images/cart.svg" alt="cart">
                </a>
                <span class="cart__text">Cart</span>
                <span class="cart__count">0</span>
            </div>
        </div>
    </div>
</header>