<section class="shop container">
    <div class="headline shop__headline">
        <span class="cut shop__cut">Organic</span>
        <h3 class="shop__title">Our products</h3>
    </div>
    <div class="assortment">
        <div class="card">
            <div class="card__mark">
                Vegetable
            </div>
            <img class="card__image"
                 src="../images/broccoli.png" alt="broccoli">
            <div class="card__content">
                <span class="card__name">Calabrese broccoli</span>
                <div class="divider card__divider"></div>
                <div class="card__info">
                    <div class="card__pricing">
                        <span class="card__old-price">$ 25.00 USD</span>
                        <span class="card__new-price">$ 21.00 USD</span>
                    </div>
                    <img class="card__rating"
                         src="../images/rating.svg" alt="unbelievable fabulous!">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__mark">
                Vegetable
            </div>
            <img class="card__image"
                 src="../images/corn.png" alt="corn">
            <div class="card__content">
                <span class="card__name">Fresh corn</span>
                <div class="divider card__divider"></div>
                <div class="card__info">
                    <div class="card__pricing">
                        <span class="card__old-price">$ 21.23 USD</span>
                        <span class="card__new-price">$ 18.00 USD</span>
                    </div>
                    <img class="card__rating"
                         src="../images/rating.svg" alt="unbelievable fabulous!">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__mark">
                Mill
            </div>
            <img class="card__image"
                 src="../images/pistachio.png" alt="pistachio">
            <div class="card__content">
                <span class="card__name">Dried pistachio</span>
                <div class="divider card__divider"></div>
                <div class="card__info">
                    <div class="card__pricing">
                        <span class="card__old-price">$ 61.00 USD</span>
                        <span class="card__new-price">$ 48.00 USD</span>
                    </div>
                    <img class="card__rating"
                         src="../images/rating.svg" alt="unbelievable fabulous!">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__mark">
                Vegetable
            </div>
            <img class="card__image"
                 src="../images/tomato.png" alt="tomato">
            <div class="card__content">
                <span class="card__name">Vegan red tomato</span>
                <div class="divider card__divider"></div>
                <div class="card__info">
                    <div class="card__pricing">
                        <span class="card__old-price">$ 14.00 USD</span>
                        <span class="card__new-price">$ 9.37 USD</span>
                    </div>
                    <img class="card__rating"
                         src="../images/rating.svg" alt="unbelievable fabulous!">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__mark">
                Fru
            </div>
            <img class="card__image"
                 src="../images/almonds.png" alt="almonds">
            <div class="card__content">
                <span class="card__name">Organic almonds</span>
                <div class="divider card__divider"></div>
                <div class="card__info">
                    <div class="card__pricing">
                        <span class="card__old-price">$ 21.00 USD</span>
                        <span class="card__new-price">$ 18.00 USD</span>
                    </div>
                    <img class="card__rating"
                         src="../images/rating.svg" alt="unbelievable fabulous!">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__mark">
                Mill
            </div>
            <img class="card__image"
                 src="../images/hazelnut.png" alt="hazelnut">
            <div class="card__content">
                <span class="card__name">Brown hazelnut</span>
                <div class="divider card__divider"></div>
                <div class="card__info">
                    <div class="card__pricing">
                        <span class="card__old-price">$ 43.00 USD</span>
                        <span class="card__new-price">$ 34.00 USD</span>
                    </div>
                    <img class="card__rating"
                         src="../images/rating.svg" alt="unbelievable fabulous!">
                </div>
            </div>
        </div>
    </div>
</section>