.feedback {
    /*height: 1248px;*/
    position: relative;
    overflow: hidden;
    background: #fcfcfc;
}

.feedback__bg {
    background-size: contain;
    z-index: 0;
    width: 100%;
    min-height: 1248px;
}

.feedback__bg_left {
    background: url("../images/feedback-bg-left.png") no-repeat;
    background-position-x: left;
}

.feedback__bg_right {
    background: url("../images/feedback-bg-right.png") no-repeat;
    background-position-x: right;
}

.feedback__container {
    box-sizing: border-box;
    padding: 130px 30px 150px 30px;
}

.feedback__headline {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
}

.feedback__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.feedback__photo {
    align-self: center;
    margin-bottom: 18px;
}

.feedback__rating {
    margin-bottom: 30px;
}

.feedback__text {
    font-size: 18px;
    max-width: 942px;
    margin-bottom: 23px;
}

.feedback-credentials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-transform: capitalize;
}

.feedback-credentials__author {
    font-size: 26px;
    font-weight: 700;
}

.feedback-credentials__role {
    font-family: "Open Sans";
    font-size: 14px;
}

.feedback__divider {
    z-index: 1;
    max-width: 965px;
    margin: 100px auto 100px auto;
}

.summary {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    max-width: calc(250px * 4 + 30px * 3);
    margin: 0 auto 0 auto;
}

.summary__item {
    z-index: 1;
    background: url("../images/bg-circle.svg") no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 250px;
}

.summary__count {
    font-size: 42px;
    font-weight: 700;
}

.summary__name {
    font-size: 18px;
    font-weight: 700;
}

@media screen and (max-width: 1800px) {
    .feedback__bg_left {
        transform: translateX(-180px);
    }

    .feedback__bg_right {
        transform: translateX(170px);
    }
}

@media screen and (max-width: 1440px) {
    .feedback__bg_left {
        transform: translateX(-240px);
    }

    .feedback__bg_right {
        transform: translateX(230px);
    }
}

@media screen and (max-width: 1126px) {
    .feedback__bg {
        opacity: .2;
    }
}

@media screen and (max-width: 1076px) {
    .summary {
        max-width: calc(200px * 4 + 30px * 3);
    }

    .summary__item {
        width: 200px;
        height: 200px;
    }

    .summary__count {
        font-size: 34px;
    }

    .summary__name {
        font-size: 15px;
    }
}

@media screen and (max-width: 876px) {
    .summary {
        max-width: calc(150px * 4 + 30px * 3);
    }

    .summary__item {
        width: 150px;
        height: 150px;
    }

    .summary__count {
        font-size: 25px;
    }

    .summary__name {
        font-size: 11px;
    }
}

@media screen and (max-width: 676px) {
    .summary {
        max-width: calc(100px * 4 + 30px * 3);
    }

    .summary__item {
        width: 100px;
        height: 100px;
    }

    .summary__count {
        font-size: 20px;
    }

    .summary__name {
        max-width: 75px;
    }
}

@media screen and (max-width: 640px) {
    .feedback__title {
        font-size: 28px;
    }
}

@media screen and (max-width: 476px) {
    .summary {
        max-width: calc(100px * 2 + 30px * 1);
    }

    .summary__item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px) {
    .feedback__container {
        padding: 30px 10px;
    }

    .feedback__divider {
        margin: 30px;
    }
}

@media screen and (max-width: 365px) {
    .feedback__bg_right {
        visibility: hidden;
    }

    .feedback__bg_left {
        transform: none;
        opacity: .1;
        width: 100%;
    }
}